$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


@mixin transition($properties, $duration: 0.3s, $timing: ease-in-out) {
    transition: $properties $duration $timing;
}
  
body {
    font-family: 'Raleway', sans-serif;
    background: #0e0e12;
    // color: #a4a3b6;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

img {
    height: auto;
    max-width: 100%;
}
#bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;

    &:hover{
    }
}

.header {
    background:rgba(25, 25, 31, 0.7882352941);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 0 5px;
    position: relative;

    .profile {
        width: 28px;
        vertical-align: middle;
        border-radius: 10px;
        margin-right: 3px;
        border: solid 3px rgba(0,0,0,0.3);
        position: absolute;
        top: 6px;
        left: 7px;
    }

    .links {
        padding-left: 35px;
        a {
            color: #fff;
            font-weight: 600;
            padding: 15px 10px;
            display: inline-block;
    
            &.active {
                color: #4edbec;
            }
    
            
        }
    }

  
}

.content {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
}

.content-fixed {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-card {
        padding: 30px;
        background: #19191fc9;
        border-radius: 30px;
        box-shadow: 1px 1px 20px #00000021;
        margin-bottom: 10px;
        text-align: center;
    }

    .avatar {
        width: 120px;
        height: 120px;
        border: solid 7px #ffffff0d;
        margin: 0 auto;
        position: relative;
        border-radius: 100%;

        img {
            border-radius: 100%;
        }

        .text {
            position: absolute;
            top: -10px;
            right: -40px;
            background-color: #4edbecc9;
            padding: 5px 8px;
            font-weight: 600;
            border-radius: 16px;
            font-size: 12px;

            &:before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #4edbec94;
                position: absolute;
                top: 20px;
                left: -10px;
            }
        }
    }
    h1 {
        color:#fff;
        margin: 10px 0 5px;
        font-weight: 600;
        font-size: 24px;
    }

    .sub-title {
        margin-bottom: 20px;
        font-size: 14px;
        color: #c46fff;
    }

    .info {

        .contact {
            display: flex;
            justify-content: center;
            a {
                color: #fff;
                font-size: 28px;
                width: 30px;
                height: 30px;
                /* display: flex; */
                text-align: center;
                /* border: solid 1px #fff; */
                margin: 3px;
                padding: 5px;
                border-radius: 15px;
                background: #00000052;
                @include transition(all);

                &:hover {
                    background: #00000080;
                }
            }
        }
        .add-contact {
            margin: 20px 20px 0;
            display: block;
            background-color: #4edbec;
            padding: 15px;
            font-weight: 700;
            border-radius: 15px;
            color: #000;
            @include transition(all);

            &:hover {
                background-color: #b64bff;
                color: #fff;
            }
        }
    }
}

.menu {
    display: flex;
    margin: 15px 0;
    padding: 0 20px;
    align-items: center;
    font-weight: 600;

    a {
        @include transition(all);

        &.xp  {
            width: 46px;   
            height: 46px;
            background: rgba(0, 0, 0, 0.33);
            border-radius: 15px;
            text-align: center;
            line-height: 50px; 
            color: #fff;
            text-decoration: none;
            margin-right: 15px; 
        }

        &.portfolio {
            flex-grow: 1; 
            background: rgba(0, 0, 0, 0.33);
            text-align: center;
            padding: 15px; 
            color: black;
            text-decoration: none;
            border-radius: 15px;
            color: #fff;
        }

        &:hover {
            background: rgba(0,0,0,.6);
        }
    }

    .xp {
        width: 50px;
    }
}


.timeline {
	margin: auto;
	width: 100%;
    
}
.timeline__arrow {
	background-color: transparent;
	border-radius: 0.25em;
	cursor: pointer;
	flex-shrink: 0;
	margin-inline-end: 0.25em;
	outline: transparent;
	width: 2em;
	height: 2em;
	transition:
		background-color calc(var(--trans-dur) / 2) linear,
		color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.timeline__arrow:focus-visible,
.timeline__arrow:hover {
	background-color: hsl(var(--hue),10%,50%,0.4);
}
.timeline__arrow-icon {
	display: block;
	pointer-events: none;
	transform: rotate(-90deg);
	transition: transform var(--trans-dur) var(--trans-timing);
	width: 100%;
	height: auto;
}
.timeline__date {
	font-size: 0.833em;
	color:rgba(255,255,255,.4);
    margin-bottom: 5px;
}
.timeline__dot {
	background-color: #4edbec;
	border-radius: 50%;
	display: inline-block;
	flex-shrink: 0;
    margin: 0.625em 17px;
    margin-inline-end: 1em;
	position: relative;
	width: 0.75em;
	height: 0.75em;
    box-shadow: 0 0 5px #4edbec;
    @include transition(all);

}
.timeline__item {
	position: relative;
	padding-bottom:20px;

    &:hover {
        .timeline__title  {
            color: #b64bff;
        }
        .timeline__dot{
            background-color: #b64bff;
            box-shadow: 0 0 15px #b64bff;
        }
    } 
}
.timeline__item:not(:last-child):before {
	background-color: #0000006e;
	content: "";
	display: block;
	position: absolute;
	top: 1em;
    left: 23px;
	width: 2px;
	height: 100%;
	transform: translateX(-50%);
}
[dir="rtl"] .timeline__arrow-icon {
	transform: rotate(90deg);
}
[dir="rtl"] .timeline__item:not(:last-child):before {
	right: 2.625em;
	left: auto;
	transform: translateX(50%);
}
.timeline__item-header {
	display: flex;
}
.timeline__item-body {
    overflow: hidden;
    line-height: 1.5;
	height: 0;
}
.timeline__item-body-content {
    color: rgba(255,255,255,.65);
    padding-top: 10px;
    list-style: 1.5;
	background-color: hsl(var(--hue),10%,50%,0.2);
	transition:
		opacity var(--trans-dur) var(--trans-timing),
		visibility var(--trans-dur) steps(1,end);
}
.timeline__meta {
	width: 100%;
    padding: 20px 20px;
    background: #19191fc9;
    border-radius: 15px;
    box-shadow: 1px 1px 20px #00000021;
    color: #ffffffc2;
}
.timeline__title {
	font-size: 16px;
    font-weight: 600;
	line-height: 1.333;
    margin-bottom: 8px;
    color: #4edbec;
    cursor: pointer;
    @include transition(all);
}

.timeline__company {

}
/* Expanded state */
.timeline__item-body--expanded {
	height: auto;
}
.timeline__item-body--expanded .timeline__item-body-content {
	opacity: 1;
	visibility: visible;
	transition-delay: var(--trans-dur), 0s;
}
.timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
	transform: rotate(0);
}