body {
    font-family: 'Raleway', sans-serif;
    // background-color: #232135;
    // color: #a4a3b6;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

img {
    height: auto;
    max-width: 100%;
}
#bg {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;

    &:hover{
    }
}


.content {
    max-width: 256px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    background: #19191fc9;
    border-radius: 30px;
    box-shadow: 1px 1px 20px #00000021;

    .avatar {
        width: 120px;
        height: 120px;
        border: solid 7px #ffffff0d;
        margin: 0 auto;
        position: relative;
        border-radius: 100%;

        img {
            border-radius: 100%;
        }

        .text {
            position: absolute;
            top: -10px;
            right: -40px;
            background-color: #4edbecc9;
            padding: 5px 8px;
            font-weight: 600;
            border-radius: 16px;
            font-size: 12px;

            &:before {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #4edbec94;
                position: absolute;
                top: 20px;
                left: -10px;
            }
        }
    }
    h1 {
        color:#fff;
        margin: 10px 0 5px;
        font-weight: 600;
        font-size: 24px;
    }

    .sub-title {
        margin-bottom: 20px;
        font-size: 14px;
        color: #c46fff;
    }

    .info {

        .contact {
            display: flex;
            justify-content: center;
            a {
                color: #fff;
                font-size: 28px;
                width: 30px;
                height: 30px;
                /* display: flex; */
                text-align: center;
                /* border: solid 1px #fff; */
                margin: 3px;
                padding: 5px;
                border-radius: 14px;
                background: #00000052;

                &:hover {
                    background: #00000080;
                }
            }
        }
        .add-contact {
            margin: 20px;
            display: block;
            background: #4edbec;
            padding: 15px;
            font-weight: 700;
            border-radius: 13px;
            color: #000;

            &:hover {

            }
        }
    }
}